<h2>联系人</h2>

<div class="pull-right">
  <%= link_to "添加联系人", users_path, :class => "btn btn-default" %>
</div>

<table class="table table-striped">
  <tr>
    <th>昵称</th>
    <th>邮箱</th>
    <th>操作</th>
    <th>未读信息</th>
  </tr>
  <% @friends.each do |friend| %>
  <tr>
    <td><%= friend.user_name %></td>
    <td><%= friend.email %></td>
    <td><%= link_to "删除", friendship_path(friend), :method => :delete, :data => { :confirm => "Are you sure?" }, :class => "btn btn-sm btn-danger" %> |
        <%= link_to "聊天", conversations_path(:sender_id => current_user.id, :recipient_id => friend.id), :method => :post, :class => "btn btn-sm btn-primary" %>
    </td>
    <td><%= friend.unread(current_user, friend) %></td>
  </tr>
  <% end %>

</table>
